/* Base Style */
.a-textfield label {
    user-select: none;
}

.a-textfield[outlined],
.a-textfield[filled] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 52px;
}

/* Outlined TextField */
.a-textfield[outlined] label {
    position: absolute;
    left: .8rem;
    padding: 0 5px;
    transform: translate(-5px, calc(52px / 2 - 50% - 1px));
    transition: font-size .2s, transform .2s;
    pointer-events: none;
    background-color: #fff;
}

.a-textfield[outlined][active] label {
    font-size: .8rem;
    transform: translate(-5px, -50%);
}

.a-textfield[outlined] input {
    height: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 .8rem 1px;
    font-size: 1rem;
    outline: 0px solid #000000;
    transition: outline-width .05s;
}

.a-textfield[outlined] input:focus-visible {
    outline: 1.5px solid #000000;
}

/* Filled TextField */
.a-textfield[filled] label {
    position: absolute;
    left: .8rem;
    transform: translateY(calc(52px / 2 - 50% - 1px));
    transition: font-size .25s, transform .25s;
}

.a-textfield[active][filled] label {
    font-size: .75rem;
    transform: translateY(6px);
}

.a-textfield[filled] input {
    height: 100%;
    padding: 19px .8rem 1px;
    border: 0;
    border-bottom: 1px solid #000000;
    border-radius: 4px 4px 0 0;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .06);
}

.a-textfield[filled] input:focus-visible {
    outline: 0px;
}

.a-textfield[filled]::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0;
    height: 2px;
    background: #000;
    transform: translateX(-50%);
    transition: width .25s;
}

.a-textfield[filled][focused]::after {
    width: 100%;
}