/* Base Style */
.a-input[input][standard],
.a-input[input][outlined],
.a-input[input][filled] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 52px;
}

.a-input[input][standard] input:focus-visible,
.a-input[input][filled] input:focus-visible {
    outline: 0;
}

.a-input[input][standard]::after,
.a-input[input][filled]::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0;
    height: 2px;
    background: #000;
    transform: translateX(-50%);
    transition: width .25s;
}

.a-input[input][standard][focused]::after,
.a-input[input][filled][focused]::after {
    width: 100%;
}

/* Standard Input Style */
.a-input[input][standard] label {
    position: absolute;
    transform: translateY(calc(52px / 2 - 50% - 1px + 7px));
    transition: transform .3s, font-size .3s;
}

.a-input[input][active][standard] label {
    font-size: .8rem;
    transform: translateY(0);
}

.a-input[input][standard] input {
    height: 100%;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid #000000;
    padding-top: 14px;
    padding-left: 0;
    padding-right: 0;
}

/* Outlined Input Style */
.a-input[input][outlined] label {
    position: absolute;
    left: .8rem;
    padding: 0 5px;
    transform: translate(-5px, calc(52px / 2 - 50% - 1px));
    transition: font-size .2s, transform .2s;
    pointer-events: none;
    background-color: #fff;
}

.a-input[input][outlined][active] label {
    font-size: .8rem;
    transform: translate(-5px, -50%);
}

.a-input[input][outlined] input {
    height: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 .8rem 1px;
    font-size: 1rem;
    outline: 0px solid #000000;
    transition: outline-width .05s;
}

.a-input[input][outlined] input:focus-visible {
    outline: 1.5px solid #000000;
}

/* Filled Input Style */
.a-input[input][filled] label {
    position: absolute;
    left: .8rem;
    transform: translateY(calc(52px / 2 - 50% - 1px));
    transition: font-size .25s, transform .25s;
}

.a-input[input][active][filled] label {
    font-size: .75rem;
    transform: translateY(6px);
}

.a-input[input][filled] input {
    height: 100%;
    padding: 19px .8rem 1px;
    border: 0;
    border-bottom: 1px solid #000000;
    border-radius: 4px 4px 0 0;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .06);
}