.a-input .a-input-helper {
    color: rgba(0, 0, 0, 0.6);
    font-size: .75rem;
    margin-top: 4px;
}

.a-input[outlined] .a-input-helper {
    padding-left: 11px;
    padding-right: 11px;
}

.a-input[filled] .a-input-helper {
    padding-left: 12px;
    padding-right: 12px;
}