.fade-enter-active,
.fade-leave-active {
    transition: opacity .25s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-scale-enter-active,
.fade-scale-leave-active {
    transition: transform .25s, opacity .25s;
    transform-origin: top center;
    transform: scale(1);
}

.fade-scale-enter-from,
.fade-scale-leave-to {
    transform: scale(.6);
    opacity: 0;
}